body{
    background: lavender;
    font-family: monospace;
}

img{
    display: block;
    height: 100px;
    margin: 0;
    
}

header{
    display: block;
    height: 150;
    margin: 0;
    box-sizing: border-box;
    width: 75%;
    background: skyblue;
}

h1{
    text-align: right;
}
