body {
  background-color: lavender;
  font-family: monospace;
  margin: 0px 10%;
  padding: 0px;
}
header {
  background-color: skyblue;
  text-align: center;
  display: grid;
  margin: 0px;
  padding: 0px;
  grid-template-columns: 1fr 1fr;
}
header h1 {
  text-align: right;
}
header img {
  height: 200px;
}

main {
  font-size: larger;
}
