body {
  background: lavender;
  font-family: monospace;
  /* text-align: center; */
}

header {
  width: 75%;
  background-color: skyblue;
  text-align: center;
}
img {
  height: 100px;
  /* width: 100px; */
}
